@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 800;
    font-style: normal;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

/*because of stars rating component*/
svg.star-svg {
  display: inline;
}
